{% extends '::admin.base_normal.twig' %}

{% block content -%}
    <h1>AwardedBadge creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_awardedbadge') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
