{% extends 'admin.base_normal.twig' %}

{% block content %}
    <h3>User edit</h3>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#admin_user_edit_ploeg").select2();
        })
    </script>

    <form action="{{ path('admin_user_update', {'id': entity.id}) }}" method="post" >
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn btn-default" type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_user') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
