{% extends '::base.html.twig' %}

{% block content %}
    <div class="container" style="margin-top:20px;">


        <div class="jumbotron">
            <h1>Er is een fout opgetreden</h1>

            <p>Er is duidelijk iets misgegaan.
                Geen nood, we gaan er wat aan doen.
                Stuur een mailtje naar <a
                        href="mailto:{{ corresponding_address }}">{{ corresponding_address }}</a>
                om te vertellen waarom je het kapot gemaakt hebt. Vermeld er ook bij wanneer en hoe je dat gedaan hebt.
            </p>
        </div>
    </div>

{% endblock %}