{% extends '::base.html.twig' %}

{% block content %}

<div class="hero-unit">
    <h1>Geen toegang</h1>
    <p>Oops. Zit jij een beetje met de URL te kutten? Als je vindt dat je deze melding onterecht te zien krijgt
        mailen naar <a href="mailto:{{ app.globals.corresponding_address }}">{{ app.globals.corresponding_address }}</a> 
        en vertellen dat je toch echt legitiem bezig bent en er iets niet goed gaat</p>
</div>

{% endblock %}