{% extends '::base.html.twig' %}

{% block content %}

<div class="hero-unit">
    <h1>Deze pagina bestaat niet</h1>
    <p>Een onbekende pagina. Hoe ben je hier gekomen? Als je het daar niet mee eens bent, kun je 
        mailen naar <a href="mailto:veggatron+cyclear@gmail.com">veggatron+cyclear@gmail.com</a> 
        en uitleggen waarom deze pagina zeker zou moeten bestaan</p>
</div>

{% endblock %}