<div>
    <div class="span3">
        <table class="records_list table table-condensed ">
        <thead>
            <tr>
                <th/>
                <th/>
                <th>Ploeg</th>
                <th/>
                <th>Punten</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in teams">
                <td><div ng-show="selected.indexOf(team.id) > -1"
                      ng-style="{'background-color': color(selected.indexOf(team.id)) }"
                      style="width: 16px; height:16px; border-radius: 2px;"></div>
                </td>
                <td>{{ $index+1 }}</td>
                <td><a href="javascript:void(0);" ng-click="setSelect(team.id)" >{{ team.naam }}</a></td>
                <td>{{ team.afkorting }}</td>
                <td>{{ team.punten }}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="span7">
        <div class="graph"></div>
    </div>
</div>
