# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/fonts/*
web/css*
web/js*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# netbenas
nbproject

composer.phar
__*
app/Resources/files/cq/*
.idea
.directory

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
