[submodule "src/Cyclear/CQParserBundle"]
	path = src/Cyclear/CQParserBundle
	url = git@github.com:ErikTrapman/CyclearCQParserBundle
[submodule "src/Cyclear/GameBundle"]
	path = src/Cyclear/GameBundle
	url = git@github.com:ErikTrapman/CyclearGameBundle
