{% extends 'base_normal.html.twig' %}

{% block fos_user_content %}
    <div class="big-header hidden-xs hidden-sm">
        <h2>Reset wachtwoord</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Als jouw e-mailadres bij ons bekend is, is er een e-mail onderweg.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
