{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reset wachtwoord</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form form-horizontal"
                              action="{{ path('fos_user_resetting_send_email') }}"
                              method="POST">
                            {% if invalid_username is defined %}
                                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label"
                                       for="username">E-mailadres</label>

                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="username" name="username"
                                           required="required"/>
                                </div>
                            </div>
                            <button class="btn"
                                    type="submit">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}