{% extends 'base.html.twig' %}

{% block fos_user_content %}
    <div class="big-header hidden-xs hidden-sm">
        <h2>Reset wachtwoord</h2>
    </div>
{{ include('@FOSUser/Resetting/reset_content.html.twig') }}
{% endblock fos_user_content %}
