{% set ingelogdPloeg = app.request.attributes.get('seizoen-ploeg') %}

{% set rennerPloeg = ( rennerPloeg is defined ) ? rennerPloeg : null %}

{% if rennerPloeg and is_granted("ROLE_USER") and is_granted('OWNER', ploeg) and rennerPloeg == ingelogdPloeg %}
<a href="{{ path('user_transfer', {'id':rennerPloeg.id,'renner':renner.slug,'seizoen':seizoen.slug} ) }}">
    <img src="/bundles/cycleargame/icons/famfamfam/coins_delete.png"/></a>
{% endif %}

{% if is_granted("ROLE_USER") and ingelogdPloeg is not null and rennerPloeg is null %}
<a href="{{ path('user_transfer', { seizoen:seizoen.slug, id:app.request.attributes.get('seizoen-ploeg').id, renner:renner.slug} ) }}">
    <img src="/bundles/cycleargame/icons/famfamfam/coins_add.png"></a>
{% endif %}