{% extends '::base.html.twig' %}

{% block title "Renner" %}

{% block content %}

<h1>{{ renner.naam }}</h1>
<h2>Uitslagen</h2>
{% include "CyclearGameBundle:Uitslag:_listRenner.html.twig" with {'uitslagen':uitslagen} %}
<h2>Transfers</h2>
{% include "CyclearGameBundle:Transfer:_listWithInversion.html.twig" with {'listWithInversion':transfers} %}

{% endblock %}