{% block content %}
<table class="records_list table table-condensed">
    <thead>
        <tr>
            <th/>
            <th>Renner</th>
            <th>Punten</th>
            <th/>
        </tr>
    </thead>
    <tbody>
    {% for renner in listWithPuntenNoPloeg %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                {% include "CyclearGameBundle:Renner:_singleRow.html.twig" with {"renner":renner[0],"seizoen":seizoen } %}
            </td>
            <td>{{ renner.punten }}</td>
            <td>
                {% if is_granted("ROLE_USER") and app.request.attributes.get('seizoen-ploeg') %}
                    <a href="{{ path('user_transfer', { seizoen:seizoen.slug, id:app.request.attributes.get('seizoen-ploeg').id, renner_id:renner[0].id} ) }}">
                        <img src="/bundles/cycleargame/icons/famfamfam/coins_add.png">
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}