{% block content %}
<table class="records_list table table-condensed ">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Wedstrijd</th>
        </tr>
    </thead>
    <tbody>
    {% for wedstrijd in wedstrijden %}
        <tr>
            <td nowrap>{{ wedstrijd.datum|date('d-m-Y') }}</td>
            <td>
                    <a href="{{ path('wedstrijd_show', 
                        {'seizoen':seizoen.slug,'wedstrijd':wedstrijd.id} ) }}">
                        {{ wedstrijd.naam|truncate(80) }}
                    </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){
    /*
    $('.truncate').trunk8({
        width: '200'
    });*/
    
});
</script>
{% endblock %}