{% extends '::base.html.twig' %}

{% block title %}{{ wedstrijd.naam }} - {{ wedstrijd.datum|date('d-m-Y') }}{% endblock %}


{% block content %}
<h3>{{ wedstrijd.naam }} - {{ wedstrijd.datum|date('d-m-Y') }}</h3>
{% include "CyclearGameBundle:Uitslag:_listWedstrijd.html.twig" with {uitslagen:wedstrijd.uitslagen} %}
{% endblock %}
