{% extends 'admin.base_normal.twig' %}

{% form_theme form _self %}

{% block _cyclear_gamebundle_uitslagtype_renner_widget %}
    {{ form_widget(form) }}
{% endblock %}

{% block content %}
    <h3>Uitslag bewerken</h3>

    <form action="{{ path('admin_uitslag_edit', {uitslag: entity.id}) }}" method="post">
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-default" type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_uitslag') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
