{% extends '::admin.base_normal.twig' %}

{% block title %}Transfer new{% endblock %}

{% block content %}

    <h3>Transfer</h3>


    <ul class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#draft" data-toggle="tab">Draft</a></li>
        <li><a href="#exchange" data-toggle="tab">Ruil/User</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active"
             id="draft" style="margin-top:12px;">
            {{ render(controller('admin/Transfer:newDraft')) }}</div>
        <div class="tab-pane"
             id="exchange" style="margin-top:12px;">
            {{ render(controller('admin/Transfer:newExchange')) }}</div>

    </div>


    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_transfer') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}