{% extends '::base.html.twig' %}

{% block title %}Ploeg {% endblock %}

{% block content %}

<h2>{{ ploeg.naam }}</h2>

{% include "CyclearGameBundle:Ploeg:_list.html.twig" with { "list": ploeglist } %}

{% endblock %}