{% extends '::base.html.twig' %}
{% block content %}

<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  
  stroke-width: 1.5px;
}
</style>

<div class="span12">

    <team-graph></team-graph>
       
</div>    
{% endblock %}