{% extends '::base.html.twig' %}
{% block content %}

<h1>Stand</h1>
{% render "CyclearGameBundle:Uitslag:viewByPloegen" %}

<h1>Periode</h1>
{% render "CyclearGameBundle:Uitslag:viewByPeriode" with {"periode_id": periode.id } %}

<h1>Zeges</h1>
{% render "CyclearGameBundle:Uitslag:viewByPosition" %}

{% endblock %}