{% extends '::base.html.twig' %}
{% block content %}

Cyclear, voorkant!

<h1>Stand</h1>
{% render "CyclearGameBundle:Uitslag:viewByPloegen" with {"seizoen": seizoen.slug } %}

<h1>Periode</h1>
{% render "CyclearGameBundle:Uitslag:viewByPeriode" with {"seizoen": seizoen.slug, "periode_id": periode.id } %}

<h1>Zeges</h1>
{% render "CyclearGameBundle:Uitslag:viewByPosition" with {"seizoen": seizoen.slug } %}

{% endblock %}