{% extends '::base.html.twig' %}
{% block content %}

<div class="row">
    <div class="span5 nieuws">
        <div style="padding:4px;">
            {% if nieuws is not null %}
                <h2>{{ nieuws.titel }}</h2>
                <p>{{ nieuws.content|nl2br }}</p>
            {% endif %}
        </div>
    </div>
    <div class="span7">
        
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#stand">Stand</a></li>
            <li><a href="#uitslagen">Uitslagen</a></li>
            <li><a href="#periode">Periode</a></li>
            <li><a href="#zeges">Zeges</a></li>
            <li><a href="#transfers">Transfers</a></li>
            <li><a data-toggle="tab" href="#draft-klass">Draftklassement</a></li>
            <li><a data-toggle="tab" href="#transfer-klass">Transferklassement</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active frontpage-stand" id="stand">
                {% include "CyclearGameBundle:Uitslag:viewByPloegen.html.twig" with {"list": stand } %}
            </div>
            <div class="tab-pane frontpage-stand" id="periode">
                <div style="text-align: center;"><a href="{{ path('uitslag_periodes', {'seizoen':seizoen.slug,'periode_id':periode.id} ) }}">Alle periodes</a></div>
                {% include "CyclearGameBundle:Uitslag:viewByPeriode.html.twig" with {"list": periodestand,'transferRepo':transferRepo } %}
            </div>
            <div class="tab-pane frontpage-stand" id="uitslagen">
                {% include "CyclearGameBundle:Wedstrijd:latest.html.twig" with {"wedstrijden": wedstrijden } %}
            </div>
            <div class="tab-pane frontpage-stand" id="transfers">
                {% include 'CyclearGameBundle:Transfer:_listWithInversion.html.twig' with {"listWithInversion":transfers } %}
            </div>
            <div class="tab-pane frontpage-stand" id="zeges">
                <div style="text-align: center;"><a href="{{ path('uitslag_posities', {'seizoen':seizoen.slug,'positie':1} ) }}">Alle posities</a></div>
                {% include "CyclearGameBundle:Uitslag:viewByPosition.html.twig" with {"list": zegestand } %}
            </div>
            <div class="tab-pane frontpage-stand" id="draft-klass">
                {% include "CyclearGameBundle:Uitslag:viewByDraftTransfer.html.twig" with {"list": drafts } %}
            </div>
            <div class="tab-pane frontpage-stand" id="transfer-klass">
                {% include "CyclearGameBundle:Uitslag:viewByUserTransfer.html.twig" with {"list": transferstand } %}
            </div>
        </div>
        
    </div>    
</div>

<style type="text/css">
div.frontpage-stand{ min-height: 630px; }
</style>
<script type="text/javascript">
    $('#tabs a[href="#stand"]').click(function (e) {e.preventDefault();$(this).tab('show');})
    $('#tabs a[href="#periode"]').click(function (e) {e.preventDefault(); $(this).tab('show'); })
    $('#tabs a[href="#transfers"]').click(function (e) { e.preventDefault(); $(this).tab('show'); })
    $('#tabs a[href="#zeges"]').click(function (e) {e.preventDefault();$(this).tab('show');})
    $('#tabs a[href="#draft-klass"]').click(function (e) {e.preventDefault();$(this).tab('show');});
    $('#tabs a[href="#transfer-klass"]').click(function (e) {e.preventDefault();$(this).tab('show');});
    $('#tabs a[href="#uitslagen"]').click(function (e) {e.preventDefault();$(this).tab('show');});
</script>
{% endblock %}