{% extends 'admin.base_normal.twig' %}

{% block content -%}
    <h1>Badge creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('badge') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
