{% extends 'base.html.twig' %}

{% block title %}Wedstrijden {{ seizoen }}{% endblock %}

{% block content %}

    <div class="big-header" style="margin-bottom: 0;">
        <h2>Wedstrijden {{ seizoen }}</h2>
    </div>
    <div class="container" style="margin-top:20px;">

        <div class="row">
            <div class="col-lg-12">
                <div id="navigation">
                    {{ knp_pagination_render(pagination, null, {seizoen: seizoen.slug}, {firstPageRoute: 'wedstrijd_list'}) }}
                </div>
                {{ include('wedstrijd/latest.html.twig', {wedstrijden: pagination, rennerRepo: rennerRepository}) }}
            </div>
        </div>
    </div>
{% endblock %}
