{% extends '::admin.base.html.twig' %}

{% block content %}
<h2>Contract creation</h2>

<form action="{{ path('admin_contract_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_seizoen') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}