{% block content %}
<table class="records_list table ">
    <thead>
        <tr>
            <th/>
            <th>Renner</th>
            <th>Ploeg</th>
            <th>Punten</th>
            <th>Renner punten</th>
        </tr>
    </thead>
    <tbody>
    {% for uitslag in uitslagen %}
        <tr>
            <td>{{ loop.index }}</td>
            <td nowrap>{% include "CyclearGameBundle:Renner:_singleRow.html.twig" with {renner:uitslag.renner,seizoen:uitslag.wedstrijd.seizoen } %}</td>
            <td>{{ uitslag.ploeg }}</td>
            <td>{{ uitslag.ploegPunten }}</td>
            <td>{{ uitslag.rennerPunten }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
