{% extends '::base.html.twig' %}

{% block title "Perioden" %}

{% block content %}
    <ul class="nav nav-pills">
    {% for periode in periodes %}
        <li {% if periode.id == current_periode.id %} class="active" {% endif %}><a href="{{ path('uitslag_periodes', {'seizoen':seizoen.slug,'periode_id':periode.id}) }}">Periode {{ loop.index }}</a></li>
    {% endfor %}
    </ul>
    <div class="well">van {{ current_periode.start|date('d-m-Y') }} t/m {{ current_periode.eind|date('d-m-Y') }}</div>
{% include "CyclearGameBundle:Uitslag:viewByPeriode.html.twig" %}

{% endblock %}
