{% extends '::base.html.twig' %}

{% block title "Posities" %}

{% block content %}
    <ul class="nav nav-pills">
    {% for i in 1..20 %}
        <li {% if i == positie %} class="active" {% endif %}><a href="{{ path('uitslag_posities', {'seizoen':seizoen.slug,'positie':i}) }}">{{ i }}</a></li>
    {% endfor %}
    </ul>
{% include "CyclearGameBundle:Uitslag:viewByPosition.html.twig" %}

{% endblock %}
