{% extends '::base.html.twig' %}

{% block title "Zeges" %}

{% block content %}
<table class="records_list">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Zeges</th>
        </tr>
    </thead>
    <tbody>
    {% for uitslag in list %}
        <tr>
            <td>{{ uitslag.naam }}</td>
            <td>{{ uitslag.freqByPos }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}