{% extends "::admin.base.html.twig" %}

{% block content %}    
<form action="{{ path('admin_index') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Go</button>
    </p>
</form>
{% endblock %}