{% extends 'base.html.twig' %}
{% block content %}

    <div class="big-header" style="margin-bottom: 0;">
        <h2>Archieven</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul style="margin:20px; display: inline-block">
                    {% for seizoen in seizoenen|reverse %}
                        <li style="margin:12px;">
                            <a class="btn btn-default"
                               href="{{ path('game', {'seizoen': seizoen.slug}) }}">{{ seizoen.identifier }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
