{% extends '::admin.base.html.twig' %}

{% block title %}Renner creation{% endblock %}

{% block content %}
<h3>Renner creation</h3>

<form action="{{ path('admin_renner_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_renner') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}