{% extends '::admin.base_normal.twig' %}

{% block title %}User new{% endblock %}

{% block content %}
    <h3>User creation</h3>

    <form action="{{ path('admin_user_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-default" type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_user') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}