{% if app.request.attributes.get('seizoen-ploeg') != null %}
    <li><a href="{{ path('ploeg_show', 
            {
                seizoen:app.request.attributes.get('seizoen'),
                id:app.request.attributes.get('seizoen-ploeg').id
            } ) }}">Mijn ploeg</a>
    </li>
{% endif %}
