{% block content %}
    <table class="table table-bordered">
        <tr>
            <th colspan="2">Uitslag</th>
            <th>Ploeg</th>
            <th>Punten</th>
        </tr>
        {% for uitslag in uitslagen %}
            <tr>
                <td>{{ "%02d"|format(loop.index) }}</td>
                <td nowrap>{% include "CyclearGameBundle:Renner:_singleRow.html.twig" with {renner:uitslag.renner,seizoen:uitslag.wedstrijd.seizoen } %}</td>
                <td>{% if uitslag.ploeg %}{{ uitslag.ploeg.afkorting }}{% endif %}</td>
                <td>{{ uitslag.ploegPunten }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
