{% extends '::base.html.twig' %}

{% block title "Overzicht" %}

{% block content %}
    <div class="span6">
        <h3>Transferklassement</h3>
        {% include "CyclearGameBundle:Uitslag:viewByUserTransfer.html.twig" with {"list": transfer,'gained': shadowgained,'lost':shadowlost } %}
    </div>
    <div class="span5">
        <h3>Draftklassement</h3>
        {% include "CyclearGameBundle:Uitslag:viewByDraftTransfer.html.twig" with {"list": draft } %}
    </div>
{% endblock %}
