{% block content %}
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="3">Ploeg</th>
            <th/>
        </tr>
        {% for uitslag in list %}
            <tr>
                <td>{{ "%02d"|format(loop.index) }}</td>
                <td>{{ uitslag.0.naam }}</td>
                <td>{{ uitslag.0.afkorting }}</td>
                <td>{{ uitslag.freqByPos }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}