{% extends 'base_normal.html.twig' %}


{% block contentcontainer %}
    <div class="container container-admin">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-info" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ flashMessage|raw }}
                                </div>
                            {% endfor %}

                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ flashMessage|raw }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% block content %}
                    {% block fos_user_content %}{% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
