{% block renner_selector_widget %}
{{ form_widget(form, { 'attr':{'class':'span4 ajax-typeahead'} } ) }}&nbsp;
<a class="selector-tooltip" title="" data-toggle="tooltip" href="#" data-original-title="Er worden maximaal {{ typeahead_max_results }} resultaten getoond">
    <img src="/bundles/cycleargame/icons/famfamfam/information.png" width="16" height="16"></a>
<script type="text/javascript">
$(document).ready(function(){
    $(".selector-tooltip").tooltip();
});
</script>
{% endblock %}
