{% if renner.country %}
    {% include "country/_image.html.twig" with {"country": renner.country, "size": 16} %}
{% endif %}
<a href="{{ path('renner_show', {'renner': renner.slug, 'seizoen': seizoen.slug}) }}">{{ renner.naam }}</a>
