{% extends '::base.html.twig' %}

{% block title "Ploeg" %}

{% block content %}
<h2>Renners</h2>
<table class="records_list table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Punten</th>
        </tr>
    </thead>
    {% for renner in renners %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ path('renner_show',{ seizoen:seizoen.slug, renner:renner.id }) }}">{{ renner.naam }}</a></td>
            <td>{{ renner.ploegPunten }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Gescoorde punten</h2>
{% include "CyclearGameBundle:Uitslag:_listPloeg.html.twig" with {'uitslagen':uitslagen} %}

{% endblock %}