<html>
<body>
Beste,<br><br>

<p>Klik op de link om je wachtwoord te resetten: <a href="{{ url }}">{{ url }}</a></p>

<p>Als dat niet werkt, kopieer deze url in je browser:</p>

<pre>{{ url }}</pre>

</body>
</html>
